<ion-header translucent>
  <ion-toolbar>
    <ion-title>Ingresa tus datos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-card-content>
      <ion-item class="roundedInput">
        <ion-input formControlName=nombres></ion-input>
      </ion-item>
      <ion-item class="roundedInput">
        <ion-input formControlName=apellidos></ion-input>
      </ion-item>
      <ion-item class="roundedInput">
        <ion-input formControlName=correo></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button [disabled]="!registerForm.valid" type="submit" expand="block">Registrate con tus datos</ion-button>
  </form>
</ion-content>