.roundedInput {
    --border-color: var(--ion-color-medium-shade);
    margin-top: 5px;
    --border-radius: 25px;
    --border-width: 2px;
    --box-shadow: 0px gray;
    --color: white;
    --highlight-height: 0;
    --background: black;
   }
// ion-content{

//     --ion-background-color:#FFFFF;
// }